<h1>Company Info</h1>

<form action="" name="cardDetails" class="detailsForm" ng-submit="updateBasicDetails()">
    <div class="browse-file imgProcess">
        <img alt="" ng-src="{{companyProfile.basicDetails.imageURL}}">
        <input class="uploadBtn cursor-pointer" id="inputImage2" type="file" accept="image/*" image="uploadedImage" resize-max-height="200" resize-max-width="200" resize-quality="0.7"/>
    </div>

    <input type="text" placeholder="Company Name *" ng-model="companyProfile.basicDetails.name"/>
    <input type="search" class="searchCompanies search" id="searchCountry"
           ng-model="companyProfile.basicDetails.country" placeholder="Country"
           typeahead="country for country in countries | filter:$viewValue| limitTo:10"
           typeahead-on-select="updateBasicDetails()">

    <div class="radios-grey-orange">
        <p>Named account: &nbsp;&nbsp;
            <label>
                <input type="radio" name="power" ng-click="companyProfile.basicDetails.namedAccount = true; updateBasicDetails()" ng-checked="companyProfile.basicDetails.namedAccount"/>
                <span>Yes</span>
            </label>
            &nbsp;&nbsp;
            <label>
                <input type="radio" name="power" ng-click="companyProfile.basicDetails.namedAccount = false; updateBasicDetails()" ng-checked="!companyProfile.basicDetails.namedAccount" />
                <span>No</span>
            </label>
        </p>
    </div>

    <div class="relative-pos pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href=""> Add
            <b class="carret"></b>
        </a>

        <ul role="menu" class="dropdown-menu">
            <li><a ng-click = "addField(companyProfile.basicDetails.contactInformation,'mobilePhoneNumber')">Mobile phone</a></li>
            <li><a ng-click = "addField(companyProfile.basicDetails.contactInformation,'personalPhoneNumber')">Home phone</a></li>
            <li><a ng-click = "addField(companyProfile.basicDetails.contactInformation,'officePhoneNumber')">Work phone</a></li>
            <li><a ng-click = "addField(companyProfile.basicDetails.contactInformation,'emailAddress')">Email adress</a></li>
        </ul>
    </div>
    <div class="clear"></div>

    <div ng-repeat="contactInfo in companyProfile.basicDetails.contactInformation">
        <div class="icon-placeholder" ng-if="contactInfo.contactType == 'mobilePhoneNumber'" ng-class = "{'state-displayErrMsg':!validateTel(contactInfo.contactValue,cardDetails.mobileTel.$pristine)}">
            <small class="error small-padding">
                Please provide a valid phone number.
            </small>
            <i class="fa fa-phone"></i>
            <input type="tel" placeholder="Mobile phone number" ng-model="contactInfo.contactValue"  ng-blur="updateBasicDetails()" name= "mobileTel">
        </div>

        <div class="icon-placeholder"  ng-if="contactInfo.contactType == 'personalPhoneNumber'" ng-class = "{'state-displayErrMsg':!validateTel(contactInfo.contactValue,cardDetails.homeTel.$pristine)}">
            <small class="error small-padding">
                Please provide a valid phone number.
            </small>
            <i class="icon-personalphone"></i>
            <input type="tel" placeholder="Home phone number"  ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()" name = "homeTel">
        </div>

        <div class="icon-placeholder"  ng-if="contactInfo.contactType == 'officePhoneNumber'" ng-class = "{'state-displayErrMsg':!validateTel(contactInfo.contactValue,cardDetails.workTel.$pristine)}">
            <small class="error small-padding">
                Please provide a valid phone number.
            </small>
            <i class="icon-officephone"></i>
            <input type="tel" placeholder="Work phone number" ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()"  name = "workTel">
        </div>

        <div class="icon-placeholder " ng-class = "{'state-displayErrMsg':!validateEmail(contactInfo.contactValue, cardDetails.emailAdr.$pristine)}" ng-if="contactInfo.contactType == 'emailAddress'">
            <small class="error small-padding">
                Please provide a valid email address.
            </small>
            <i class="icon-email"></i>
            <input type="email" placeholder="Email address" ng-model = "contactInfo.contactValue" ng-blur ="updateBasicDetails()" name = "emailAdr">
        </div>

        <!--<div class="icon-placeholder " ng-if="contactInfo.contactType == 'emailAddress'" >
            <i class="icon-email"></i>
            <input type="email" placeholder="Email adress" ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()"name = "emailAdr">
        </div>-->

        <div class="icon-placeholder firstInput"  ng-if="contactInfo.contactType == 'skypeName'">
            <i class="icon-skype"></i>
            <input type="text" placeholder="Skype"  ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()">
        </div>
    </div>

    <div ng-repeat="contactInfo in companyProfile.basicDetails.contactInformation">
        <div class="icon-placeholder"  ng-if="contactInfo.contactType == 'street'">
            <i class="icon-address"></i>
            <input type="text" placeholder="Street"  ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()">
        </div>

        <div class="icon-placeholder"  ng-if="contactInfo.contactType == 'city'">
            <i class="icon-address"></i>
            <input type="text" placeholder="City"  ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()">
        </div>

        <div class="icon-placeholder"  ng-if="contactInfo.contactType == 'postalCode'">
            <i class="icon-address"></i>
            <input type="text" placeholder="Postal code"  ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()">
        </div>

        <div class="icon-placeholder"  ng-if="contactInfo.contactType == 'state'">
            <i class="icon-address"></i>
            <input type="text" placeholder="State / Province"  ng-model="contactInfo.contactValue" ng-blur="updateBasicDetails()">
        </div>
    </div>

</form>