<h1>Details</h1>

<form action="" class="detailsForm" ng-submit="updateSpecificDetails()">

    <div class="icon-placeholder inlineInput">
        <i class="icon-budget"></i>
        <input type="text" placeholder="Revenue" ng-model="companyProfile.specificDetails.revenue.amount" ng-blur="updateSpecificDetails()" ng-keypress="validateNumber(event)">
        <input type="search" placeholder="Currency" class="searchCompanies search"
               ng-model="companyProfile.specificDetails.revenue.currency"
               typeahead="currency for currency in companyCurrencies | filter:companyProfile.specificDetails.revenue.currency | limitTo:10" typeahead-on-select="updateSpecificDetails()"
               style="width: 50% !important; margin-left: 15px;">
    </div>
    <div class="icon-placeholder">
        <i class="icon-meeting"></i>
        <input type="text" ng-model="companyProfile.specificDetails.numberOfEmployees" placeholder="Employees" ng-blur="updateSpecificDetails()" ng-keypress="validateNumber(event)">
    </div>
    <div class="icon-placeholder">
        <i class="icon-industry"></i>
        <input type="search" placeholder="Industry" class="searchCompanies search"
               ng-model="companyProfile.specificDetails.industry"
               typeahead="industry for industry in companyIndustries | filter:$viewValue | limitTo:10 " typeahead-on-select="updateSpecificDetails()"
               style="padding-left: 20px !important;">
    </div>

</form>