<top-menu class=""></top-menu>

<div class="main-content clearfix">
    <!-- maine left -->
    <div class="main-left">
    <div class="container details" ng-show="leadDetailsLoaded">
    <div class="row">
        <div class="col-lg-4">
            <basic-lead-info ng-click="changeActiveSection('update-basic-details')" class="cursor-pointer"></basic-lead-info>
        </div>
        <div class="col-lg-2">
            <solution-area ng-click="changeActiveSection('solutions')"  class="cursor-pointer"></solution-area>
        </div>
        <div class="col-lg-2">
            <lead-shared-with ng-click="getSharedWithList()" class="cursor-pointer"></lead-shared-with>
        </div>
        <div class="col-lg-4">
            <lead-rating></lead-rating>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <lead-stages></lead-stages>
        </div>
    </div>

    <div class="row">
    <div class="col-lg-4">
        <lead-contacts></lead-contacts>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <!--
            <div id="pain">Testing 1 2 3</div>
            -->
            <div class="col-lg-3">
                <lead-qualifier key="budget" ng-click="changeActiveSection('update-budget-qualifier')"></lead-qualifier>
            </div>
            <div class="col-lg-3">
                <lead-qualifier key="authority" ng-click="changeActiveSection('update-authority-qualifier')"></lead-qualifier>
            </div>
            <div class="col-lg-3">
                <lead-qualifier key="pain" ng-click="changeActiveSection('update-pain-qualifier')"></lead-qualifier>
            </div>
            <div class="col-lg-3">
                <lead-qualifier key="timeframe" ng-click="changeActiveSection('update-timeframe-qualifier')"></lead-qualifier>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" ng-click="changeActiveSection('add-quicknote')">
                <lead-quicknotes class="cursor-pointer"></lead-quicknotes>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <list-items items="leadProfile.tasks" type="tasks"></list-items>
        </div>
    </div>
    </div>
    </div>
    </div>


    <aside class="right">

        <section class="detailsSection " ng-include="showSection()">

        </section>

    </aside>
</div>

<!--<script type="text/javascript">-->
    <!--function select_card(card){-->
        <!--$(card).parents('.check-uncheck').toggleClass('selected');-->
        <!--$(card).parents('.check-uncheck').next().next().toggleClass('selected');-->
    <!--}-->
<!--</script>-->