<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" errorModal = "" style="z-index:10001;">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">  
              <h1 class="modal-title" id="myModalLabel">{{errorModal.title}}</h1>
          </div>

          <div class="modal-body">
              <h2>{{errorModal.info}}</h2>
          </div>

          <div class="modal-footer">
              
              <button class="orangeBtn" data-dismiss="modal" >Ok</button>
          </div>


      </div>
  </div>
</div>

