<top-menu class=""></top-menu>

<div class="main-content clearfix">
	<div class="main-left">
<div class="container details">
	<div class="row">
		<div class="col-lg-4">
			<div class="inner-box sink">
				<a href="#" class="card-link" id="basic-details"></a>
				<div class="lead-box">
					<div class="lead-logo">
						<img src="images/img_lloyds.png" alt="" />
					</div>
					<div class="lead-info">
						<h2><i class="fa fa-pencil"></i> <a href="#1">Lloyds Bank Group</a></h2>
						<h2><i class="fa fa-pencil"></i> <a href="#2">Lead Name</a></h2>
						<h2><i class="fa fa-user"></i> <a href="#3">Clive Lastname</a></h2>
					</div>
					<div class="clear"></div>

					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tr>
							<td><i class="fa fa-pencil"></i> 800k $</td>
							<td><i class="fa fa-pencil"></i> Outbound</td>
							<td><i class="fa fa-pencil"></i> Hot</td>
						</tr>
						<tr>
							<td><i class="fa fa-pencil"></i> 2d, 5h</td>
							<td><i class="fa fa-pencil"></i> Web</td>
							<td><i class="fa fa-pencil"></i> Named account</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="inner-box link solutions sink">
				<h1>Solution Area</h1>
				<div class="scroll-box">
					<ul>
						<li>Cloud Servers</li>
						<li>Databases</li>
						<li>CEO</li>
						<li>Server Configuration</li>
						<li>Server Configuration</li>
						<li>Server Configuration</li>
						<li>Server Configuration</li>
						<li>Server Configuration</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="inner-box sink">
				<a href="#" class="card-link" id="shared-with"></a>
				<h1>Shared With</h1>
				<ul>
					<li>Maureen Carr</li>
					<li>Stephanie Howell</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="inner-box bg-gray clearfix">
				<h1>Deal Rating</h1>
				<div class="rating-box">
					<div class="progress-vertical">
						<div style="height: 100%" class="bar progress-bar-blue"></div>
					</div>
					<p>Target</p>
				</div>
				<div class="rating-box">
					<div class="progress-vertical">
						<div style="height: 30%" class="bar progress-bar-blue"></div>
					</div>
					<p>Budget</p>
				</div>
				<div class="rating-box">
					<div class="progress-vertical">
						<div style="height: 20%" class="bar progress-bar-blue"></div>
					</div>
					<p>Authority</p>
				</div>
				<div class="rating-box">
					<div class="progress-vertical">
						<div style="height: 40%" class="bar progress-bar-blue"></div>
					</div>
					<p>Pain</p>
				</div>
				<div class="rating-box last">
					<div class="progress-vertical">
						<div style="height: 43%" class="bar progress-bar-blue"></div>
					</div>
					<p>Timeline</p>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="status-bar">
				<div class="first done"><span>Open</span></div>
				<div class="done"><span>Assigned</span></div>
				<div class="done"><span>Accepted</span></div>
				<div class="status-click link"><span>Contacted</span></div>
				<div class="status-click link last"><span>Action</span></div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="inner-box double">
				<h1>Contacts</h1>
				<ul class="contacts">
					<li class="clearfix">
						<a href="#">
							<img src="images/placeholder_contact-photo.png" alt="" width="27" height="27" />
							<span class="pull-left">Clive Lastname</span>
							<span class="pull-right">VP Sales <i>></i></span>
						</a>
					</li>
					<li class="clearfix">
						<a href="#">
							<img src="images/placeholder_contact-photo.png" alt="" width="27" height="27" />
							<span class="pull-left">Jerald Scott</span>
							<span class="pull-right">VP Sales <i>></i></span>
						</a>
					</li>
					<li class="clearfix">
						<a href="#">
							<img src="images/placeholder_contact-photo.png" alt="" width="27" height="27" />
							<span class="pull-left">Hector Carr</span>
							<span class="pull-right">CEO <i>></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row">
				<!--
				<div id="pain">Testing 1 2 3</div>
				-->
				<div class="col-lg-3">
					<div class="inner-box green-bleft link sink pain half">
						<div class="t-cell">
							<p class="bold a-center">Pain</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="inner-box grey-bleft link sink auth half">
						<div class="t-cell">
							<p class="bold a-center">Auth</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="inner-box yellow-bleft link sink time-frame half">
						<div class="t-cell">
							<p class="bold a-center">Time Frame</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="inner-box orange-bleft link sink budget half">
						<div class="t-cell">
							<p class="bold a-center">Budget</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="inner-box onehalf">
						<p class="edit-text link"><span class="date">12.20.2013</span>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a dictum risus. Nulla ultrices ornare justo sit amet rhoncus. Donec ut dapibus erat, a elementum odio. Nam tellus justo, ultrices at quam quis, congue ullamcorper lacus.
						</p>
						<p class="edit-text link"><span class="date">12.20.2013</span>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a dictum risus. Nulla ultrices ornare justo sit amet rhoncus. Donec ut dapibus erat, a elementum odio. Nam tellus justo, ultrices at quam quis, congue ullamcorper lacus.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row">
				<div class="col-lg-6">
					<div class="inner-box orange-bleft sink">
						<a class="card-link" href="#"></a>
						<div class="inner-box-head">
							<p><i class="fa fa-exclamation-triangle orange"></i>&nbsp;<i class="fa fa-envelope"></i>&nbsp;<span>10 Dec, 14:30</span></p>
						</div>
						<p class="blue"><a href="#">Follow up email for confirmation</a></p>
						<p class="normal-one-line">Lorem ipsum dolor ipsum dolor</p>
						<div class="small-progress-bar">
							<div class="progress thin">
								<div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-grey">
									<span class="sr-only">50% Complete (warning)</span>
									</div>
							</div>
						</div>
						<div class="user">
							<img src="images/placeholder_contact-photo.png" alt="" />
							<p class="normal-one-line">Clive Lastname</p>
							<p><span>Asignee</span></p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="inner-box green-bleft sink">
						<a class="card-link" href="#"></a>
						<div class="inner-box-head">
							<p><i class="fa fa-exclamation-triangle orange"></i>&nbsp;<i class="fa fa-envelope"></i>&nbsp;<span>10 Dec, 14:30</span></p>
						</div>
						<p class="blue"><a href="#">Follow up email for confirmation</a></p>
						<p class="normal-one-line">Lorem ipsum dolor ipsum dolor</p>
						<div class="small-progress-bar">
							<div class="progress thin">
								<div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-grey">
									<span class="sr-only">50% Complete (warning)</span>
									</div>
							</div>
						</div>
						<div class="user">
							<img src="images/placeholder_contact-photo.png" alt="" />
							<p class="normal-one-line">Clive Lastname</p>
							<p><span>Asignee</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="inner-box green-bleft sink">
						<a class="card-link" href="#"></a>
						<div class="inner-box-head">
							<p><i class="fa fa-exclamation-triangle orange"></i>&nbsp;<i class="fa fa-envelope"></i>&nbsp;<span>10 Dec, 14:30</span></p>
						</div>
						<p class="blue"><a href="#">Follow up email for confirmation</a></p>
						<p class="normal-one-line">Lorem ipsum dolor ipsum dolor</p>
						<div class="small-progress-bar">
							<div class="progress thin">
								<div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-grey">
									<span class="sr-only">50% Complete (warning)</span>
									</div>
							</div>
						</div>
						<div class="user">
							<img src="images/placeholder_contact-photo.png" alt="" />
							<p class="normal-one-line">Clive Lastname</p>
							<p><span>Asignee</span></p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="inner-box green-bleft sink">
						<a class="card-link" href="#"></a>
						<div class="inner-box-head">
							<p><i class="fa fa-exclamation-triangle orange"></i>&nbsp;<i class="fa fa-envelope"></i>&nbsp;<span>10 Dec, 14:30</span></p>
						</div>
						<p class="blue"><a href="#">Follow up email for confirmation</a></p>
						<p class="normal-one-line">Lorem ipsum dolor ipsum dolor</p>
						<div class="small-progress-bar">
							<div class="progress thin">
								<div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-grey">
									<span class="sr-only">50% Complete (warning)</span>
									</div>
							</div>
						</div>
						<div class="user">
							<img src="images/placeholder_contact-photo.png" alt="" />
							<p class="normal-one-line">Clive Lastname</p>
							<p><span>Asignee</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="inner-box green-bleft sink">
						<a class="card-link" href="#"></a>
						<div class="inner-box-head">
							<p><i class="fa fa-exclamation-triangle orange"></i>&nbsp;<i class="fa fa-envelope"></i>&nbsp;<span>10 Dec, 14:30</span></p>
						</div>
						<p class="blue"><a href="#">Follow up email for confirmation</a></p>
						<p class="normal-one-line">Lorem ipsum dolor ipsum dolor</p>
						<div class="small-progress-bar">
							<div class="progress thin">
								<div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-grey">
									<span class="sr-only">50% Complete (warning)</span>
									</div>
							</div>
						</div>
						<div class="user">
							<img src="images/placeholder_contact-photo.png" alt="" />
							<p class="normal-one-line">Clive Lastname</p>
							<p><span>Asignee</span></p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="inner-box green-bleft sink">
						<a class="card-link" href="#"></a>
						<div class="inner-box-head">
							<p><i class="fa fa-exclamation-triangle orange"></i>&nbsp;<i class="fa fa-envelope"></i>&nbsp;<span>10 Dec, 14:30</span></p>
						</div>
						<p class="blue"><a href="#">Follow up email for confirmation</a></p>
						<p class="normal-one-line">Lorem ipsum dolor ipsum dolor</p>
						<div class="small-progress-bar">
							<div class="progress thin">
								<div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-grey">
									<span class="sr-only">50% Complete (warning)</span>
									</div>
							</div>
						</div>
						<div class="user">
							<img src="images/placeholder_contact-photo.png" alt="" />
							<p class="normal-one-line">Clive Lastname</p>
							<p><span>Asignee</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>