<h1>About</h1>
<textarea msd-elastic id = "magic" text="" description="" placeholder={{contactProfile.about.defaultText}} rows="5" class=" form-control form-textarea black" ng-model="contactProfile.about.text" ng-blur = "updateAbout()"></textarea>
<br>
<div class="c-blue"><strong>Previous Positions</strong></div>
<textarea msd-elastic id = "magicalArea" text="" description="" placeholder={{contactProfile.contactHistory.defaultText}} rows="5" class="form-control form-textarea black" ng-model="contactProfile.contactHistory.previousPositions" ng-blur = "updateAbout()"></textarea>

